[submodule "public"]
	path = public
	url = git@github.com:tamada/tamada.github.io.git
[submodule "themes/hugo-resume"]
	path = themes/hugo-resume
	url = https://github.com/eddiewebb/hugo-resume.git
[submodule "themes/hugo-theme-dream"]
	path = themes/hugo-theme-dream
	url = https://github.com/g1eny0ung/hugo-theme-dream.git
[submodule "themes/hugo-cards"]
	path = themes/hugo-cards
	url = https://github.com/bul-ikana/hugo-cards.git
