[submodule "public"]
	path = public
	url = git@github.com:tamada/tamada.github.io.git
[submodule "themes/hugo-resume"]
	path = themes/hugo-resume
	url = https://github.com/eddiewebb/hugo-resume.git
[submodule "themes/hugo-cards"]
	path = themes/hugo-cards
	url = https://github.com/bul-ikana/hugo-cards.git
[submodule "themes/hugo-swift-theme"]
	path = themes/hugo-swift-theme
	url = https://github.com/onweru/hugo-swift-theme.git
