.avatar {
    background-color: white;
    border-radius: 50%;
    border: 3px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 96px;
    width: 96px;
}

.panel {
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.list_content {
    text-align: center;
    width: 45%;
    padding: 5px;
    margin: 0 10px 25px 0;
    min-width: 280px;
}

.support_info {
    display: block;
    text-align: right;
    font-size: 70%;
    color: darkgray;
}

.date {
    display: inline-block;
    text-align: right;
    font-size: 70%;
    color: darkgray;
    float: right;
}

.block {
    display: block;
    clear: both;
}

.eyecatch {
    width: 50%;
    text-align: right;
    margin: 0 0 15px 15px;
    float: right;
}

.thumbnail {
    width: 80%;
}

.devicon {
    display: inline;
    width: 24px;
    margin: 0 3px 0 0 ;
    vertical-align: middle;
}

.icon {
    height: 36px;
    margin-right: 5px;
}

.miniicon {
    height: 24px;
    margin-right: 3px;
}
.avatar_caption {
    display: inline;
    width: 50%;
}

.project-name {
    display: inline-block;
}

.navigation {
    text-align: right;
}

.navigation > a {
    color: white;
}

.project {
    margin: 5px;
    padding: 5px;
    width: 48%;
    min-width: 360px;
}

.iconify_image {
    height: 128px;
}
.project > .iconify {
    display: block;
    padding: 0 10px 10px 0;
    text-align: center;
}

.overview_area {
    display: block;
}

.overview {
    font-size: 0.8rem;
}

.badge_area {
    margin: 10px 0 10px 0;
    display: block;
}

.icon_area {
    margin: 10px 0 10px 0;
    display: inline-block;
}

.tag_area {
    display: inline-block;
}

.badge {
    display: inline;
    font-size: 0.7rem;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 4px 4px 4px 4px;
    margin: 4px;
}

.badge > .label {
    background-color: #6c6c6c;
    color: #fff;
    padding: 4px;
    text-align: center;
    border-radius: 4px 0 0 4px;
}

.badge > .value {
    color: #fff;
    padding: 4px;
    text-align: center;
    border-radius: 0 4px 4px 0;
}

.link > .value {
    background-color: darkred;
}

.homebrew > .value{
    background-color: orange;
}

.license > .value {
    background-color: #2384c2;
}

.version > .value {
    background-color: #a4a61d;
}

.tag {
    margin: 0 10px 0 0;
    font-size: 0.7rem;
    color: #fff;
    display: inline-block;
    padding: 3px 6px 3px 6px;
    background-color: gray;
    border-radius: 4px 4px 4px 4px;
}

.tag > a {
    color: #fff;
}

.pagination {
    text-align: center;
}

.pagination > .page-item {
    display: inline-block;
    width: 50px;
    padding: 5px;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.pagination > .disabled > a {
    color: gray;
}

.skill > .title {
    text-align: center;
}
.skill {
    padding: 5px;
    margin: 5px;
    width: 23%;
}

.skill > .graph {
    position: relative;
    width: 100%;
    border: 1px solid #207870;
}

.graph .bar {
    font-size: 0.5em;
    display: block;
    position: relative;
    background: #409890;
    text-align: center;
    color: #f0ffff;
    height: 2em;
    line-height: 2em;
}

.graph .bar span {
    position: absolute;
    left: 1em;
}

.panel > h5 {
    margin: 0.5em 0 0.5em 0;
}

.job {
    width: 30%;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.degree {
    width: 30%;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.primary {
    display: block;
    font-size: 80%;
}

.indent {
    padding-left: 1.3em;
    text-indent: -1.5em;
}

.secondary {
    font-size: 70%;
}

.titled_box {
    position: relative;
    margin: 5px;
    padding: 25px 10px 2px ;
    display: inline-block;
}

.titled_box .box_title {
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0px;
    height: 25px;
    line-height: 25px;
    font-size: 70%;
}
