{{- $url := "https://tamada.github.io/api/snss" -}}
{{- $category := .Get "category" -}}

{{- with try (resources.GetRemote $url) -}}
  {{- with .Value -}}
    {{- $data := unmarshal . -}}
    {{- $html := "" -}}
    {{- range $item := $data -}}
      {{- if eq $item.category $category }}
        {{- $html = printf "%s%s" $html (partial "shield.html" (dict "href" $item.href "src" $item.image "alt" $item.label)) -}}
      {{- end -}}
    {{- end -}}
    {{- partial "tag-list.html" ($html | safeHTML) -}}
  {{- else with .Err -}}
    <p>データの取得に失敗しました: {{ .Err }}</p>
  {{- else -}}
  <p>API にアクセスできませんでした。</p>
  {{- end -}}
{{- end -}}
