{{- $link := (.Get "href") -}}
{{- $label := (.Get "label") -}}
{{- $value := (.Get "value") -}}
{{- $color := (.Get "color") | default "green-500" -}}
{{- $icon  := resources.Get (printf "icons/%s.svg" ($.Get "icon")) -}}
<a href="{{ $link }}">
    <div class="inline-flex items-center text-[11px] font-bold leading-none tracking-tight">
        <span class="flex items-center h-5 bg-gray-400 text-white px-2 rounded-l-[3px]">
            {{- if $icon -}}
                <img src="{{ $icon.Permalink }}" alt="{{ $label }} icon" 
                     class="w-3 h-3 mr-1.5 object-contain block"/>
            {{- end -}}
            <span class="flex items-center">{{ $label }}</span>
        </span>
        <span class="flex items-center h-5 bg-[#{{ $color }}] text-white px-2 rounded-r-[3px]">
            {{ $value }}
        </span>
    </div>
</a>
